@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h3 class="display-4">Welcome<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity.Name!</a></h3>
        <br />
        <br />
        <br />
        <p>This is a Covid 19 Journal application</p>

        <p>This application can be used by anyone. During these Corona Virus times, we are all uncertain as to whether we have the virus or not, with this app you can check other people's journal posts to see if it matches your symptoms.</p>
        <br />
        <br />
        <br />


        <p>CORONA VIRUS(COVID-19) 24-HOUR HOTLINE NUMBER:</p>

        <p>0800 029 999</p>

        <br />
        <br />
        <p>CORONA VIRUS(COVID-19) WhatsApp Number:</p>

        <p>0600 12 3456</p>
        <br />
        <br />
        <p>Click Here:</p>
        <a href="https://www.sacoronavirus.co.za/">South Africa Corona Virus</a>
        <br />
        <br />
        <br />
        <p>Click Here:</p>
        <a href="https://www.gov.za/coronavirus/guidelines">South Africa Corona Virus Guidelines</a>


    </div>
