@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h3 class="display-4">Welcome<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity.Name!</a></h3>
        <p>This is where you can add a journal entry</p>
        
            
        
    </div>
